@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
iframe#webpack-dev-server-client-overlay{display:none!important}; /* for window breakpoint Error*/

.dndnode {
    height: 20px;
    padding: 4px 8px;
    border-radius: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    width: fit-content;
    font-family:'Inter', sans-serif;
    font-size: 16px;   
  }
  
   .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
  }
  
   .selectall {
    margin-top: 10px;
  }
  
  @media screen and (min-width: 768px) {
  
     aside {
      width: 20%;
      max-width: 250px;
    }
  }
  
  .react-flow .react-flow__handle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #784be8;
  }

   .react-flow__node{
    padding: 0 !important;
    color: white !important;
    text-shadow: 1px 1px 1px black  !important;
    display: flex ;
    align-items: center;
    justify-content: center;
    border: none !important;
   }

   .library{
    padding: 0.5rem 0;

    &:hover{
      color: aliceblue;
    }
   }

   .library_name{
     padding: 1px 1.5rem;
     cursor: pointer;
   }

   .my-custom-node{
    width: 150px ;
    height: 40px ;
    display:flex ;
    align-items: center ;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 3px;
   }
   .circular-node{
    width: 120px ;
    height: 120px ;
    border-radius: 50%;
    display:flex ;
    align-items: center ;
    justify-content: center;
   }

.diagonal-node{
  width: 120px ;
  height: 150px ;
  border-radius: 5%;
  display:flex ;
  padding-top: 15%;
  align-items: start ;
  justify-content: center;
}

.attack_tree_node,.level_node{
 border: 1px solid black;
 border-radius: 4px;
 color: black;
 text-shadow:none;
 padding: 5px;
 & .react-flow__handle{
  opacity: 0
 }
}

.cyber_goal{
  border: 1px solid gray;
  padding: 5px;
  text-shadow: none;
  color: black;

  >.react-flow__handle{
    opacity: 0;
  }
}


.cyber_require {
  width: 120px;
  height: 69.28px; /* 120 / sqrt(3) */
  background-color: #6C7A89;
  position: relative;
  margin: 60px auto;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.cyber_require-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}